<div class="jumbotron">
  <h1>Azeitanaro</h1>
  <p>
    Compre seu azeite aqui e agora!
  </p>
  <p>
    <% if user_signed_in?%>
      <%= link_to produtos_path, class: 'btn btn-primary btn-lg' do %>
      <%= image_tag("https://cdn-icons-png.flaticon.com/128/1795/1795810.png") %>
      <span>Ir Para Loja</span>
    <% end %>
    <% else %>
      <%= link_to 'Ir Para Loja', produtos_path, class: 'btn btn-primary btn-lg' %>
      <%= link_to 'Crie Sua Conta', cadastro_path, class: 'btn btn-primary btn-lg' %>
    <% end %>
  </p>
</div>
