@import "bootstrap-sprockets";
@import "bootstrap";
@import "static_pages";
@import "produtos";
// @import "font-awesome-sprockets";
@import "font-awesome";
@import "font_awesome5";
@import "sessions";
@import "users";
@import "carrinhos";

body{
    background-color: #e7e7e7;
}

.container {
    width: 90vw;
    margin-bottom: 18rem;
}

.container .new-user{
    display: flex;
    align-items: center;
    justify-content: center;
}
.edit-user{
    display: flex;
    align-items: center;
    justify-content: center;
}

.disable-clicks-loading {
    pointer-events: none;
}

#ice-page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(34, 34, 34, 0.5); 
    z-index: 9999; 
    display: none;
  }