@import "bootstrap-sprockets";
@import "bootstrap";
@import "static_pages";
@import "produtos";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "font_awesome5";
@import "sessions";
@import "users";

body{
    background-color: #e7e7e7;
}

.container .new-user{
    display: flex;
    align-items: center;
    justify-content: center;
}
.edit-user{
    display: flex;
    align-items: center;
    justify-content: center;
}