.infinite-scroll-loading{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    z-index: 9999;
    .infinite-scroll-message{
      opacity: 0.85;
      background-color: #f5f5f5;
      color: #000000;
      width: 30%;
      margin: 0 auto 10px auto;
      border-radius: 10px;
      padding: 5px;
      -webkit-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.75);
      box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.75);
    }
  }
  .is-content{
    display: flex;
    flex-wrap: wrap;
  }
  