
.produtos-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: left;
  }
  
  .produto {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    width: calc(33.333% - 40px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.250s;
    background-color: #fff;
  }
  
  .produto:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .produto-imagem {
    text-align: center;
    margin-bottom: 10px;
  }
  
  .produto-imagem img {
    max-width: 50%;
    height: auto;
  }
  
  .produto h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .produto p {
    margin: 5px 0;
  }
  
// show
.produto-card {
  display: flex;
  flex-wrap: wrap;
  max-width: fit-content;
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 3px;
  background-color: #fff;
  height: 1000px;
  
  .produto-card-imagem{
    display: flex;
    justify-content: center;
      padding: 10px 50px;
      width: 700px;
      height: 500px;
      .produto-card-imagem-tag{
        max-height: 100%;
        max-width: 100%;
      }
    }

    .produto-card-descricao {
      margin: 0 auto;
    padding: 0px 20px 0px;
    border: 0.5px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    background-color: #fff;

      .produto-card-botoes {
        flex: 0 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 10px;
      border: 0.1px #ddd;
      border-radius: 5px;
      box-shadow: 0 4px 25px rgba(87, 101, 104, 0.3);
    }
  }
}
