@import 'variables';
$gray-medium-light: #EAEAEA;

header {
  width: 100vw;
  height: 100px;
  background-color: antiquewhite;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 25%); 
}

.navbar {
  background-color: white;
  padding: 1rem 2rem;
  box-shadow: 0px 0px 15px #112017;
  padding-bottom: 2rem;
  margin-bottom: 7rem;
}

.container-fluid {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.navbar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 20%;
}

#navbar-logo {
  width: 15%;
  height: auto;
  min-width: 2rem;
}

.navbar-collapse {
  display: flex !important;
}

#dropdownmenuheader {
  color: black;
  padding: 1.5rem;
  font-size: 2rem;
  border-radius: 3px;
  box-shadow: 0px 0px 1px black;
  transition: 0.5s;
  &:hover {
    background-color: #f4fff3;
    color: black;
    box-shadow: 0px 0px 5px black;
  }
}

.dropdown-menu {
  background-color: whitesmoke;
  width: 30rem;
  font-size: 1.5rem;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.footer {
  margin-top: auto;
  padding: 5rem;
  background-color: #283E30;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  
  a {
    font-size: 2rem;
    color: white;
    &:hover{
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}
