@import 'variables';
$gray-medium-light: #EAEAEA;

@keyframes leftIn {
  0% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(0);
  }
}

.navbar {
  background-color: rgb(0, 71, 30);
  padding: 1rem 2rem;
  box-shadow: 0px 0px 8px #304438;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}

.container-fluid {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navbar-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 20%;
}

.logo-empresa {
  width: 100%;
  height: auto;
  padding: 1rem;
  animation: leftIn 1s 1;
}

#navbar-logo {
  box-sizing: border-box;
  width: 10%;
  height: auto;
  min-width: 2rem;
  margin-right: 20px;
}

.usuario-nome {
  color: beige;
  font-size: 2.5rem;
  text-decoration: underline;
}

.navbutton {
  display: flex;
  flex-wrap: wrap-reverse;
  color: white;
  align-items: center;
  justify-content: center;
  animation: leftIn 1s 1;
}

#navbuttonh:hover {
  background-color: rgb(0, 58, 24);
  transform: scale(1.1);
  transition: 0.3s;
}


body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.gotoshopbutton span {
  background-color: #A1C181;
  padding: 1rem;
  border-radius: 10px;
  font-size: 2rem;
  color: black;
  transition: 1s;
  &:hover {
    color: white;
    text-decoration: underline;
  }
}

.create-acc-button span {
  background-color: #698996;
  padding: 1rem;
  border-radius: 10px;
  font-size: 2rem;
  color: black;
  transition: 1s;
  &:hover {
    color: white;
    text-decoration: underline;
  }
}

.footer {
  margin-top: auto;
  padding: 5rem;
  background-color: #283E30;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  
  .about, .team, .copyright {
    font-size: 2rem;
    color: white;
    padding: 2rem;
    border-radius: 3px;
    transition: 0.3s background-color ease-in;
    &:hover{
      background-color: #304c3a;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}
  .site-shopping-info {
    display: flex;
    padding: 5rem;
    align-items: center;
    background-color: #fff;
    width: 100%;
  }

  .info-slide {
    width: 100%;
    flex: 1 0 33.3333%;
  }

