<footer>
  <small>
    <%= link_to 'Azeitanaro. Todos os direitos reservados.', root_path %>
  </small>

  <nav>
    <ul>
      <li>
        <%= link_to 'Sobre', sobre_path %>
      </li>
      <li>
        <%= link_to 'Equipe', equipe_path %>
      </li>
    </ul>
  </nav>
</footer>
