<footer class="footer">
  <small>
    <%= link_to "© Azeitanaro. Todos os direitos reservados #{Time.now.year}.", root_path, class: "copyright" %>
  </small>

  <ul>
    <li><%= link_to 'Sobre', sobre_path, class: 'about' %></li>
    <li><%= link_to 'Equipe', equipe_path, class: 'team' %></li>
  </ul>
</footer>